@import url('https://fonts.googleapis.com/css?family=Spartan:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --color-logo:#FF3375;
  --color-font-main: rgb(78, 73, 73);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F5F5;
}

/*===== HEADER =====*/
header {
  background-color: white;
  border-bottom: 1px solid #F5F5F5;
}

/*==== HEADER PRIMARIO ====*/
.header_main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 850px;
  height: 80px;

}

header .logo, 
.compartilhe,
.login {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 64px;
  
}

header .logo, .compartilhe {
  border-right: 1px solid #F5F5F5;
}

header .logo a {
  font-family: 'Spartan', sans-serif;
  font-size: 38px;
  font-weight: normal;

  text-decoration: none;
  color: var(--color-logo);

  transition: 0.5s;
}

header .logo a:hover {
  color:rgb(180, 45, 88);
}

header .compartilhe a, .login a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(145, 139, 139);
  transition: 0.5s;
}

header .header_main a:hover{
  color: black;
}

/*==== HEADER LINKS ====*/
header .header_links {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 500px;
  height: 40px;
}

header .header_links a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--color-font-main);
}

header .header_links a:hover {
  font-weight: bold;
  color:black;
}

/*===== MAIN CONTENT ====*/
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 850px;
}

main .search {
  margin: 8px 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 8px 0;
}

main form {
  width: 100%;
  display: flex;
}

main .search input {
  padding: 8px 0;
  font-size: 18px;
  outline: none;
  width: 100%;
  border-radius: 4px;
}

main .search button[type=submit] {
  cursor: pointer;
  width: 50px;
}

main .search button[type=button] {
  width: 180px;
  cursor: pointer;
  background-color: #00b894;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

/*=====PROMOTIONS=====*/
.promotions {
  display: flex;
  font-family: 'Roboto';
  margin-top: 16px;
  background-color: white;
  width: 100%;
}

.promotion_image {
  width: 280px;
  height: 200px;
  margin: auto 8px;
  overflow: hidden;
}

.promotion_image img {
  width: 100%;
}

.promotion_content {
  margin: 8px 16px;
  color: #555;
  width: 100%;
}
.promo_title {
  font-size: 26px;
  font-weight: normal;
  
  margin-bottom: 16px;
}

.promo_price {
  font-size: 42px;
  margin-bottom: 8px;
}

.promo_firstcomment {
  font-size: 24px;
  margin-bottom: 42px;
}

.promotion_footer {
  display: flex;
  justify-content: flex-start;
}

.promotion_footer .promo_commnents {
  cursor: pointer;
}

.promotion_footer .promo_store {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.promotion_footer .promo_store a{
  text-decoration: none;
  color: dodgerblue;
}

.promotion_footer .promo_store a:hover {
  font-weight: bold;
}

.promotion_footer .item_footer {
  margin-right: 32px;
  padding: 8px;
  font-size: 12px;
  color: dodgerblue;
}

/*=====CREATE PROMOTION====*/
.new-promotion {
  margin: 16px auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;

  width: 850px;
  box-sizing: content-box;
}

.new-promotion .title-promotion {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin: 0 auto;
}

.new-promotion .item {
  width: 600px;
  margin: 16px auto;  
}

.new-promotion .item div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-font-main);
}

.new-promotion .item div:nth-child(2) {
  margin-top: 4px;
}

.new-promotion input {
  width: 100%;
  padding: 8px;

  font-size: 14px;
  font-weight: normal;

  border: 1px solid var(--color-logo);
  border-radius: 4px;
  outline: none;
}

.new-promotion button {
  align-self: center;
  width: 250px;

  font-size: 18px;
  cursor: pointer;

  padding: 16px 0;

  border-radius: 8px;

  background-color: var(--color-logo);

  font-weight: bold;
  color: white;
}

/*=====TERMOS====*/
.termos{
  font-family: 'Roboto';
  width: 850px;
  margin: 25px auto;
  color: var(--color-font-main);
}

.termos .content {
  margin-bottom: 16px;
}

.termos .content h3 {
  margin-bottom: 18px;
}

/*=====FOOTER=====*/
footer {
  background-color: white;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.links_footer {
  display: flex;
  width: 850px;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.links_footer div {
  margin-right: 8px;
}

.links_footer a {
  text-decoration: none;
  color: dodgerblue;
}

.links_footer .developer a {
  color: black; 
}

.links_footer a:hover {
  color: rgb(7, 91, 175);
}

/*=====not-found=====*/
.not-found {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0;
  width: 940px;
  

}

.not-found a {
  align-self: center;

  text-decoration: none;
  font-size: 24px;
  font-family: 'Roboto';
  
  border: 1px solid #ccc;
  background-color: var(--color-logo);
  color: white;

  margin-bottom: 8px;
  padding: 8px  36px;
  border-radius: 8px;
}

.not-found a:hover{
  transition: 0.5;
  background-color: rgb(192, 25, 78);
}

.not-found-img {
  width: 100%;
  overflow: hidden;
}

.not-found-img img {
  width: 100%;
}