<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gatry - Promoções</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/favicon.ico?1581044621" type="image/x-icon" rel="icon">
</head>
<body>
  <header class="header">
    <div class="header_main">
      <div class="logo"><a href="/">Gatry</a></div>
      <div class="compartilhe"><a href="/"><i class="material-icons">share</i></a></div>
      <div class="login"><a href="/"><i class="material-icons">person</i></a></div>
    </div>
    <div class="header_links">
      <div class="comments"><a href="/">Comentários</a></div>
      <div class="comments"><a href="adicionar">Incluir Promoçao</a></div>
      <div class="comments"><a href="/">Avaliações</a></div>
      <div class="comments"><a href="/">Livre</a></div>
    </div>
  </header>

  {% block content %}

  {% endblock %}
</body>
<footer>
  <div class="links_footer">
    <div class="link"><a href="/">GATRY?</a></div>
    <div class="link"><a href="termos">TERMOS</a></div>
    <div class="developer"><a href="https://linkedin.com/in/joeltonluz" target="_blank">Joelton Lino Luz</a></div>
    <div>Gatry ® 2020</div>    
  </div>
</footer>

</html>