{% extends 'layout.njk' %}

{% block content %}
<section class="not-found">
  
  <a href="/">voltar</a>
  <div class="not-found-img">
    <img src="https://blog.thomasnet.com/hs-fs/hubfs/shutterstock_774749455.jpg?width=600&name=shutterstock_774749455.jpg" alt="">
  </div>
</section>
{% endblock %}