{% extends 'layout.njk' %}

{% block content %}
<section class="termos">
  <div class="content">
    <h2>Termos</h2>
    <p>Última modificação: 27 de abril de 2015</p>
  </div>

  <div class="content">
    <h3>Interaja e comente!</h3>
    <p>Utilize os comentários para tirar dúvidas e acrescentar informações relevantes.</p>
    <p>Não ofenda e comece discussões pessoais com outros usuários.</p>
    <p>Não faça comentários que não estejam diretamente relacionados ao produto do post.</p>
  </div>

  <div class="content">
    <h3>Compartilhe uma boa promoção</h3>
    <p>Antes de indicar uma promoção, verifique se realmente o produto está abaixo de seu preço normal.</p>
    <p>Não anuncie nada que você mesmo não compraria.</p>
    <p>Serão aceitas somente ofertas de e-commerces confiáveis e populares.</p>
    <p>Qualquer link encurtado ou de afiliado será alterado.</p>
    <p>Toda promoção enviada será moderada e estará sujeita à aprovação.</p>
  </div>

  <div class="content">
    <h3>Enviando fotos e atribuindo uma avaliação</h3>
    <p>Todas fotos enviadas devem ser de autoria própria. </p>
    <p>Qualquer foto que contenha conteúdo ofensivo ou spam será deletada.</p>
    <p>Utilize as tags para identificar o produto da foto. Uma boa maneira de começar é fazendo uso da sequência: #Nome #Marca #Modelo. </p>
    <p><strong>Exemplos:</strong></p>
    <p>#Tenis #Nike #Excellerate2</p>
    <p>#TV #LG #32LB560B </p>
    <p>Quanto mais estrelas você atribuir a um produto (de 1 a 5), melhor será sua impressão  sobre ele.</p>
    <p>Caso deseje, e será de grande valia, faça um comentário/review sobre o produto e fique à vontade para tirar possíveis dúvidas de outros usuários.</p>
    <p>A seção “Fotos &amp; Avaliações” tem como objetivo criar discussões saudáveis sobre a qualidade dos produtos expostos, sendo assim, deixe os comentários sobre valores para seção “Promoções”.</p>  
  </div>

  <div class="content">
    <h3>Termos de uso</h3>
    <p>Ao enviar um comentário, promoção ou avaliação você concorda que:</p>
    <p>- Todo material enviado poderá ser reproduzido pela Gatry com a devida menção do autor.</p>
    <p>- Nos reservamos o direito de apagar ou editar qualquer conteúdo publicado na plataforma.</p>
    <p>- Você autor é o único responsável pelo conteúdo enviado.</p>
  </div>
  
</section>

{% endblock %}